<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/shop/static/css/cadastro.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/2747ec91e0.js"></script>
    <link rel="shortcut icon" href="/shop/static/img/logo2.png" type="image/x-icon">
    <title>
        Sacolão do Zé | Desde 2006
    </title>
</head>
<body>
    <div class="box">       
        <div class="form">
        <h1>Adiocionar Produto</h1>
            <div class="inputbox">
                <input type="text" required='required' name="" value="">
                <span>Nome do Produto</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="text" required='required' name="" value="">
                <span>Categoria</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="text" required='required' name="" value="">
                <span>Quantidade</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="text" required='required' name="" value="">
                <span>Preço</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="text" required='required' name="" value="">
                <span>Desconto</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="text" required='required' name="" value="">
                <span>Descrição</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="password" required='required' name="" value="">
                <span>Imagem 1</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="password" required='required' name="" value="">
                <span>Imagem 2</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="password" required='required' name="" value="">
                <span>Imagem 3</span>
                <i></i>
            </div>
            <div>
                <button class="btn-sub" href='#'>Adicionar</button>              
            </div>
        </div>
    </div>
</body>
</html>