
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/single.css')}}">
<link rel="shortcut icon" href="{{url_for('static', filename='img/logo2.png' )}}" type="image/x-icon">
<script src="https://kit.fontawesome.com/2747ec91e0.js"></script>
{% include 'navbar.html' %}
<main>
    <section>
        <div class="container-single">
            <div class="left-side">
                <div class="itens">
                    <div class="select-img">
                        <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}">
                    </div>
                    <div class="images-p">
                        <div class="imgs">
                            <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}">
                        </div>
                        <div class="imgs">
                            <img src="{{url_for('static', filename='images/' + product.image_2)}}" alt="{{product.name}}">
                        </div>
                        <div class="imgs">
                            <img src="{{url_for('static', filename='images/' + product.image_3)}}" alt="{{product.name}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <h2>{{product.name}}</h2>
                <hr width="45%" size="2" color="green">
                <span class="type-title">100% ORGÂNICO & SEM AGROTÓXICO</span>
                <br>
                {% if product.discount > 0 %}
                <span class="off">-{{product.discount}}% OFF</span>
                {% endif %}
                <br>
                <p>{{product.desc}}</p>
                <span class="price">R${{product.price}}</span>
                <form action="{{url_for('AddCart')}}" method="POST">
                    <label class="quantity">100g x </label>
                    <input style="width: 30px; height: 30px; font-size: 16px;" type="number" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
                    <br>
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <button type="submit"  class="btn-adc">Adicionar</button>
                </form>
            </div>
        </div>
        <div class="tabela">
            <table class="content-table">
                <thead style="font-size: 18px; background: rgb(88, 94, 88); color: #ffff;">
                    <td>Tabela Nutricional - {{product.name}}<br>
                        por cada 100g</td>
                </thead>
                <tbody>
                    <tr>
                        <td>Calorias: {{product.calorias}}g (KCAL)</td>   
                    <tr>
                        <td>Carboidratos: {{product.carboidrato}}g</td>   
                    </tr>                   
                    <tr>
                        <td>Proteínas: {{product.proteinas}}g</td>                  
                    </tr>
                    <tr>
                        <td>Fíbras: {{product.fibra}}g</td>                  
                    </tr>
                    <tr>
                        <td>Gordura: {{product.fat}}g</td>                  
                    </tr>
                    <tr>
                        <td>Sódio: {{product.sodio}}mg</td>                  
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
{% include 'footer.html' %}
{% endblock content %}