
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addprod.css' ) }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo2.png' )}}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/2747ec91e0.js"></script>
    <title>
        Sacolão do Zé | Desde 2006
    </title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <div class="box">       
            <div class="form">
                {% include '_messages.html'%}
                <h1>Atualizar <span style="color: rgb(82, 126, 73); font-family: 'Lobster';">{{product.name}}</span></h1>
                {% from "_formhelpers.html" import render_field %}
                    <div class="inputbox">
                        <div class="name">
                            {{ render_field(form.name, class='form-control') }}
                            <hr color='#83BD75'>
                        </div>
                    </div>
                    <div class="inputbox">
                        <p style="font-family: Inter; margin-bottom: 5px;">Categoria</p>
                    <select name="category" id="category" required>
                        <option value="" >Selecione a Categoria</option>
                        {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                    </select>        
                    </div>
                    <div class="inputbox">
                        <div class="stock">
                            {{ render_field(form.stock, class='form-control') }}
                            <hr color='#83BD75'>
                        </div>
                    </div>
                    <div class="inputbox">
                        <div class="price">
                            {{ render_field(form.price, class='form-control') }}
                            <hr color='#83BD75'>
                        </div>
                    </div>
                    <div class="inputbox">
                        <div class="stock">
                            {{ render_field(form.discount, class='form-control') }}
                            <hr color='#83BD75'>
                        </div>
                    </div>              
                    <div class="inputbox">
                        <div class="price">
                            {{ render_field(form.calorias, class='form-control') }}
                            <hr color='#83BD75'>
                        </div>
                    </div>
                    <div class="inputbox">
                        <div class="price">
                            {{ render_field(form.proteinas, class='form-control') }}
                            <hr color='#83BD75'>
                        </div>
                    </div>
                    <div class="inputbox">
                        <div class="price">
                            {{ render_field(form.carboidrato, class='form-control') }}
                            <hr color='#83BD75'>
                        </div>
                    </div>
                    <div class="inputbox">
                        <div class="price">
                            {{ render_field(form.sodio, class='form-control') }}
                            <hr color='#83BD75'>
                        </div>
                    </div>
                    <div class="inputbox">
                        <div class="price">
                            {{ render_field(form.fibra, class='form-control') }}
                            <hr color='#83BD75'>
                        </div>
                    </div>
                    <div class="inputbox">
                        <div class="price">
                            {{ render_field(form.fat, class='form-control') }}
                            <hr color='#83BD75'>
                        </div>
                    </div>

                    <div class="inputbox">
                        <div class="desc">
                            {{ render_field(form.discription, class='form-control', rows='8') }}
                            <hr color='#83BD75'>
                        </div>
                    </div>
                    <div class="inputbox">
                        <div class="imgs">
                            <br>
                            {{ render_field(form.image_1, class='form-control')}}
                            <br>
                            {{ render_field(form.image_2, class='form-control')}}
                            <br>
                            {{ render_field(form.image_3, class='form-control')}}
                        </div>        
                    </div>                   
                    <button class="btn-sub" type="submit">Atualizar</button>   
                    <div class="links">
                        <a href="{{url_for('admin')}}">Voltar</a>

                    </div>           
                </div>
            </div>
        </div>
    </form>  
</body>
</html>
{% endblock content %}