{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <style>
      .flashes{
        background: rgb(113, 116, 114);
        border-radius: 4px;
        padding: 5px 5px;
        font-family: 'Inter';
        font-size: 1.0em;
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: none;
      }
    </style>
    <div class=flashes>
    {% for category, message in messages %}
      <div class="alert-error-{{ category }}">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}