@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background:linear-gradient(rgb(221, 224, 199),rgb(203, 207, 168))
  ;
}
.box{
    box-shadow: -3px 7px 7px black;
    margin-top: 5%;
    position: relative;
    width: 700px;
    height: 800px;
    background: rgb(63, 61, 61);
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 700px;
    height: 800px;
    background: linear-gradient(0deg, transparent, rgb(131, 189, 117), rgb(78, 148, 79));
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 700px;
    height: 800px;
    background: linear-gradient(0deg, transparent, rgb(131, 189, 117), rgb(78, 148, 79));
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}
@keyframes animate{
    0%
    {transform: rotate(0deg);}
    100%
    {transform: rotate(360deg);}
}
.form{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    position: absolute;
    background: rgb(36, 36, 36);
    border-radius: 8px;
    z-index: 999;
    inset: 2px;
    padding: 50px 40px;
}


.form h1{
    margin-left:25%;
    text-shadow: -2px 5px 5px black;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: 'Lobster';
}
.inputbox{
    position: relative;
    width: 300px;
    margin-top: 15px;
    color: #ffffff;
}

.inputbox select{
    background: rgb(36, 36, 36);
    height: 50%;
    color: #ffffff;
}
.name .form-control{
    background: rgb(36, 36, 36);
    width: 300px;
    height: 30px;
    color: white; 
    border-radius: 4px;
    border: none;
    outline: none;
}
.stock .form-control{
    background: rgb(36, 36, 36);
    width: 300px;
    height: 30px;
    color: white; 
    border-radius: 4px;
    border: none;
    outline: none;
}
.price .form-control{
    background: rgb(36, 36, 36);
    width: 300px;
    height: 30px;
    color: white; 
    border-radius: 4px;
    border: none;
    outline: none;
}
.desc .form-control{
    background: rgb(36, 36, 36);
    color: white; 
    min-width: 297px;
    min-height: 133px;
    resize: none;
    border-radius: 4px;
    border: none;
    outline: none;
}
.imgs{
    color: #ffffff;
    font-family: 'Inter';
    margin-top: -80px;
}
.table .form-control{
    background: rgb(36, 36, 36);
    color: white; 
    border-radius: 4px;
    border: none;
    outline: none;
}
.btn-sub{
    margin-top: 35px;
    width: 110px;
    height: 36px;
    padding: 10px 0px;
    border: none;
    border-radius: 6px;
    outline: none;
    color: #ffffff;
    background: rgb(78, 148, 79);
    cursor: pointer;
    box-shadow: -2px 4px 4px #000000;
}

.btn-sub:hover{
    background: rgb(71, 189, 73);
}
.btn-cancel{
    margin-left: 5px;
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-weight: 500;
    color: #ffffff;
    background: rgb(133, 38, 38);
    cursor: pointer;
    box-shadow: -2px 4px 4px #000000;
}
.btn-cancel:hover{
    background: rgb(192, 37, 37);
}

.btn-cancel-form{
    margin-top: 5%;
    height: 38px;
    font-weight: 100;
    text-decoration: none;
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-weight: 500;
    color: #ffffff;
    background: rgb(133, 38, 38);
    cursor: pointer;
    box-shadow: -2px 4px 4px #000000;

}
.btn-cancel-form:hover{
    background: rgb(192, 37, 37);
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin: 45px;
    font-size: 1em;
    color:rgb(105, 107, 105);
    text-decoration: none;
}
.links a:hover{
    color:  rgb(189, 71, 71);
}