@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background: #ffffff;    
}

/*NAV-BAR-INICIO*/
.navbar a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}
.navbar a:hover{
    font: bold;
    opacity: 0.7;
    color: rgb(71, 189, 73);
}
ul{
    list-style: none;
}

/*NAVBAR*/
.navbar{
    text-shadow: -2px 3px 3px rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    background: #4E944F;
    position: static;
    height: 90px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    z-index: 1100;
    box-shadow: 0px 2px 3px #353535;
}
.nav-list{
    list-style: none;
    display: flex;
    margin-top: 15px;
}
.nav-list li{
    margin-left: 20px;
}
.navbar .logo img{
    width: 110px;
    height: 90px;
}

/*DROPDOWN MENU*/
.conteiner{
    position: relative;
}

.links-navbar{
    letter-spacing: 1px;
    transition: 0.3s;   
}
.links-navbar:hover{
    background-color: none;
    transform: scale(1.1);
}
.list{
    margin-top: 5%;
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}
.newlist{
    transform: scaleY(1);
}
.click{
    outline: none;
    border: none;
    background-color: #4E944F;
    text-shadow: -2px 3px 3px rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
    margin-left: 25px;
}
.links-navbar{
    margin-left: 55px;
    outline: none;
    border: none;
    background: #4E944F;
    width: 120px;
    height: 50px;
    text-shadow: -2px 2px 2px rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;

}
.links-navbar:hover {
    color: rgb(11, 185, 11);
}
.click:hover{
    color: rgb(71, 189, 73);
}


/*TABELA ADMIN*/
.content-table{
    color: black;
    font-family: 'Inter';
    position:absolute;
    top:15%;
    left: 20%;
    border-collapse: collapse;
    margin: 5px 0;
    margin-bottom: 50px;
    font-size: 0.9em;
    min-width: 1000px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr{
    font-size: 20px;
    background: rgb(78, 148, 79);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table td{
    font-size: 18px;
}
.content-table th,
.content-table td{
    font-weight: 400;
    padding: 10px 12px;
}
.content-table tbody tr{
    border-bottom: 1px solid rgba(201, 201, 201, 0.867);
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody:last-of-type{
    border-bottom: 2px solid rgb(140, 172, 141);
}

/*TABELA ORDER*/
.content-table2{
    color: black;
    font-family: 'Inter';
    position: fixed;
    top: 90%;
    left: 20%;
    border-collapse:separate;
    margin: 35px 50px;
    font-size: 0.9em;
    min-width: 1000px;
    border-radius: 5px;
}

.content-table2 td{
    font-size: 18px;
}
.content-table2 th,
.content-table2 td{
    padding: 18px 12px;
}
.content-table2 tbody tr{
    border-bottom: 1px solid rgba(201, 201, 201, 0.867);
}
.content-table2 tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table2 tbody:last-of-type{
    border-bottom: 2px solid rgb(71, 189, 73);
}

/*BOTÕES*/
.btn-clear{
    margin-bottom: 5px;
    margin-top: 5px;
    width: 90px;
    padding: 10px 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 500;
    color: #ffffff;
    background: rgb(182, 1, 1);
    cursor: pointer;
    box-shadow: -1px 3px 3px #888787;
    text-decoration: none;

}
.btn-clear:hover{
    background: rgb(209, 3, 3);
}
.btn-atualizar{
    margin-bottom: 3px;
    margin-top: 10px;
    width: 90px;
    padding: 10px 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #ffffff;
    background: rgb(10, 135, 173);

    cursor: pointer;
    box-shadow: -1px 3px 3px #888787;
    text-decoration: none;
}
.btn-atualizar:hover{
    background: rgb(10, 165, 212);
}

.btn-edit{
    margin-bottom: 3px;
    margin-top: 10px;
    width: 20%;
    padding: 7px 6px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #ffffff;
    background: rgb(10, 135, 173);
    cursor: pointer;
    box-shadow: -1px 3px 3px #888787;
    text-decoration: none;
}
.btn-edit:hover{
    background: rgb(10, 165, 212);
}

.btn-delete{
    margin-bottom: 3px;
    margin-top: 10px;
    width: 20%;
    padding: 7px 6px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #ffffff;
    background: rgb(182, 1, 1);
    cursor: pointer;
    box-shadow: -1px 3px 3px #888787;
    text-decoration: none;
}
.btn-delete:hover{
    background: rgb(209, 3, 3);
}
  
.btn-add{
    margin-bottom: 15px;
    margin-top: 10px;
    width: 40%;
    padding: 10px 6px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 500;
    color: #ffffff;
    background: rgb(87, 170, 89);
    cursor: pointer;
    box-shadow: -1px 3px 3px #000000;
 }
.btn-add:hover{
    background: rgb(41, 153, 43);
}


/*CARRINHO LIMPO*/
.row img{
    margin-top: 10%;
    width: 300px;
    height: 300px;
    margin-left: 40%;
}
.row h1{
    letter-spacing: 0.02em;
    color: #979797;
    margin-top: 3%;
    margin-bottom: 50px;
    margin-left: 41%;
    font-family: 'Lobster';
}
.back-shop {
    margin-left: 45%;
    margin-bottom: 3px;
    width: 50px;
    padding: 10px 13px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    background: rgb(87, 170, 89);
    cursor: pointer;
    box-shadow: -1px 3px 3px #000000;
    text-decoration: none;
 }
 .back-shop:hover{
    background: rgb(41, 153, 43);
}

  