{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/2747ec91e0.js"></script>
    <link rel="shortcut icon" href="static/img/logo2.png" type="image/x-icon">
    <title>
        Sacolão do Zé | Desde 2006
    </title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/admin" >
                <h1>Administração</h1>
            </a>
        </div>
        {% include '_messages.html' %}
        <ul class="nav-list">
            <li>
                <a href="/" title="LOJA.">
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>
            <li><a href="/admin">Todos produtos</a></li>

            <li><a href="/category">Categorias</a></li>
            <div class="conteiner">
                <button class="click">Adicionar</button>
                <div class="list">
                    <a href="/addproduct"><button class="links-navbar" >Produto</button></a>
                    <a href="/addcat"><button class="links-navbar" >Categoria</button></a>
                </div>
            </div>
            <li>
                <a href="{{url_for('adminLogout')}}" title="Logout">
                <i class="fa-solid fa-user-xmark"></i>
                </a>
            </li> 
            <li>
                <a href="{{url_for('register')}}" title="Register admin">
                <i class="fa-solid fa-user"></i>
                </a>
            </li>
        </ul>
    </nav>  
        <table class="content-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Desconto</th>
                    <th>Preço</th>
                    <th>Qnt (g)</th>
                    <th>Imagem</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.category.name}}</td>
                    <td>-{{product.discount}}%</td>
                    <td>{{product.price}}</td>
                    <td>{{product.stock}}g</td>
                    <td>
                        <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="Product Image" width="45" height="50">
                    </td>
                    <td>
                        <a href="{{url_for('updateproduct', id=product.id)}}" class="btn-edit">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a href="{{url_for('deleteproduct', id=product.id)}}" class="btn-delete">
                            Remover
                        </a>
                    </td>
                </tr>  
            {% endfor %}
            </tbody>
        </table>
        
        <script>
            let click= document.querySelector('.click');
            let list= document.querySelector('.list');
            click.addEventListener("click",()=>{
                list.classList.toggle('newlist');
            });
        </script>
</body>      
</html>  
{% endblock content %}
