{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://kit.fontawesome.com/2747ec91e0.js"></script>
    <link rel="shortcut icon" href="static/img/logo2.png" type="image/x-icon">
    <title>
        Sacolão do Zé | Desde 2006
    </title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/admin" >
                <h1>Administração</h1>
            </a>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/" title="LOJA.">
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>
            <li><a href="/admin">Todos produtos</a></li>

            <li><a href="/category">Categorias</a></li>
            <div class="conteiner">
                <button class="click">Adicionar</button>
                <div class="list">
                    <a href="/addproduct"><button class="links-navbar" >Produto</button></a>
                    <a href="/addcat"><button class="links-navbar" >Categoria</button></a>
                </div>
            </div>
            <li><a href="/admin/login" title="Login/Register">
                <i class="fa-solid fa-user"></i>
            </a>
            </li>
            <li>
                <a href="/logout" title="Logout">
                    <i class="fa-solid fa-user-xmark"></i>
                </a>
            </li>
            <li><a href="/admin" title="Área retrista">
                <i class="fa-solid fa-user-lock"></i>
            </a>
            </li>
        </ul>
    </nav>  
        {% include '_messages.html' %}
        <table class="content-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Qnt</th>
                    <th>Preço</th>
                    <th>Desconto</th>
                    <th>Imagem</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Categoria</td>
                    <td>Qnt</td>
                    <td>Desc</td>
                    <td>Preço</td>
                    <td>img</td>
                    <td>
                        <a href="#" class="btn-edit">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a href="#" class="btn-delete">
                            Remover
                        </a>
                    </td>>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Categoria</td>
                    <td>Qnt</td>
                    <td>Desc</td>
                    <td>Preço</td>
                    <td>img</td>
                    <td>
                        <a href="#" class="btn-edit">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a href="#" class="btn-delete">
                            Remover
                        </a>
                    </td>>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Categoria</td>
                    <td>Qnt</td>
                    <td>Desc</td>
                    <td>Preço</td>
                    <td>img</td>
                    <td>
                        <a href="#" class="btn-edit">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a href="#" class="btn-delete">
                            Remover
                        </a>
                    </td>>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Categoria</td>
                    <td>Qnt</td>
                    <td>Preço</td>
                    <td>Desc</td>
                    <td>img</td>
                    <td>
                        <a href="#" class="btn-edit">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a href="#" class="btn-delete">
                            Remover
                        </a>
                    </td>>
                </tr>
                
            </tbody>
        </table>
        <script>
            let click= document.querySelector('.click');
            let list= document.querySelector('.list');
            click.addEventListener("click",()=>{
                list.classList.toggle('newlist');
            });
        </script>
</body>      
</html>  
{% endblock content %}
