{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cadastro.css')}}">
    <link rel="shortcut icon" href="static/img/logo2.png" type="image/x-icon">
    <title>
        Sacolão do Zé | Desde 2006
    </title>
</head>
<body>
    {% from "_formhelpers.html" import render_field %}
    <div class="box">     
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form">
                <h1>Cadastro Admin.</h1>
                <div class="inputbox" >
                    {{ render_field(form.username, class='form-control', required=True) }}
                    <i></i>
                </div>
                <div class="inputbox">
                    {{ render_field(form.name, class='form-control', required=True) }}
                    <i></i>
                </div>
                <div class="inputbox">
                    {{ render_field(form.email, class='form-control', required=True) }}
                    <i></i>
                </div>
                <div class="inputbox">
                    {{ render_field(form.password, class='form-control', required=True)}}
                    <i></i>
                </div>
                <div class="inputbox">
                    {{ render_field(form.confirm, class='form-control', required=True)}}
                    <i></i>
                </div>
                <div>
                    {{ form.submit(class="btn-sub") }}             
                </div>
                {% include '_messages.html'%}
            </div>
        </form>    
    </div>
</body>
</html>
{% endblock content %}
